.DS_Store
.idea/codeStyles/Project.xml
.idea/filler.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
CMakeLists.txt
asiaux.filler
asiaux.filler.dSYM/
cmake-build-debug/
filler.trace
filler_tester
filler_vm
Would skip repository ftester/
libft/.idea/
libft/obj/
linee.txt
maps/
obj/
players/
ftester/